<h1>Editing Book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>件のerrorが発生しました
   <ul>
    <% @book.errors.full_messages.each do |message| %>
     <li><%= message %></li>
      <% end %>
       </ul>
       <% end %>

<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>

<div class="field">
    <label for="title">Title</label>
     <div class="title_text">
      <%= f.text_field :title %>
     </div>
    </div>

<div class="field">
    <label for="body">Body</label>
     <div class="body_text">
      <%= f.text_area :body %>
     </div>
    </div>

<div class="actions">
 <%= f.submit 'Update Book' %>
</div>

<% end %>

<table>
  <td><%= link_to "Show", book_path(@book.id), :style=>"color:black;" %></td>
  <td>|</td>
  <td><%= link_to "Back", books_path, :style=>"color:black;" %></td>
</table>
