<body>
<p class="text-success">
  <%= flash[:notice] %>
  <%= flash[:updated] %>
</p>
<p>
  <strong>title: </strong>
   <%= @book.title %>
  </p>

<p>
  <strong>body: </strong>
   <%= @book.body %>
  </p>

<table>
   <td><%= link_to "Edit", edit_book_path(@book.id), :style=>"color:black;" %></td>
  <td>|</td>
   <td><%= link_to "Back", books_path, :style=>"color:black;" %></td>
</table>
</body>
